<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">More Info</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Individual Event Page</h4>
      </div>
      <div class="modal-body">
        Here, you'll see detailed information on the event you just clicked on. Interested? At the bottom of the page, you'll see a button labeled "Add Event!". Click that, and we'll attach this event to your profile. Be bold!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <h1 id="<%=data.id%>"><%= data.name %></h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div>
          <h4> <%= data.group.name%></h4> <br>
          <p><strong>Event Date: </strong>
            <%= (new Date(data.time + data.utc_offset)).toISOString().match(/(\d{4}\-\d{2}\-\d{2})T(\d{2}:\d{2}:\d{2})/) %>
          </p>
          <p><strong>Status:  </strong><%= data.status%></p>
        </div>
          <hr>
        <div>
          <h4>Venue - </strong><%= data.venue.name%></h4> <br>
              <p>Address: <%= data.venue.address_1%></li>
              <p>City: <%= data.venue.city%></li>
              <P>People Attending: <%= data.yes_rsvp_count%></li>
        </div>
      </div>

      <div class="col-md-8">
            <%- data.description %>
      </div>


</div>

<div id="picture">

</div>

<form action="/addEvent" method="POST">
  <input type="hidden" name="name" value="<%= data.name %>">
  <input type="hidden" name="extId" value="<%= data.id %>">
  <input type="hidden" name="description" value="<%= data.description %>">
  <button type="submit" class="btn btn-success btn-lg">Add Event!</button>
</form>

<script type="text/javascript">
    // var imgage = <%# data.description %>;
    // var elements = $(image);
    // var found = $('img', elements);
    // console.log(elements)
    // $('#picture').append(found)
</script>
