    <div class="container">
      <div>
          <td>
              <a href='/users/<%= currentUser._id%>/events' class="btn btn-lg btn-primary">Back</a><hr>
          </td>
      </div>
        <div class="oneevent">
          <div class="jumbotron">
                <div class="caption">
                  <img src="<%= eventData.img || '/images/defaultImage.jpg'%>" alt="">
                  <div>
                    <h3>Event Name: <%= eventData.name %></h3>
                  </div>
                  <div id="datetime">
                    <h4 class="pull-left">Date and Time: <%= eventData.eDate %> &nbsp;&nbsp;</h4>
                    <h4 class="pull-right"><%= eventData.eTime %></h4>
                  </div>
                  <div>
                    <h4>Address: <%= eventData.address %></h4>
                    <h4>Category:<%= eventData.category %></h4>
                  </div>
                  <div>
                    <p>Description: <%= eventData.description %></p>
                  </div>
                </div>
            </div>
        </div>
        <div class="container">
          <div>
          <table>
            <tr>
              <td>
                <div id="event-btn">
                  <a href='/events/<%=eventData._id%>/edit' class="btn btn-lg btn-primary">Update Event</a>
                </div>
              </td>
              <td>
                <form action="/events/<%=eventData._id%>?_method=delete" method="post">
                    <button type="submit" class="btn btn-lg btn-primary">Delete Event</button>
                </form>
              </td>
            </tr>
          </table>
      </div>

</div>
<script type="text/javascript">
  $('body').css('background-image', 'url("/images/fallevent.jpg")')
</script>
