<div class="page-header">

    <h1>Welcome, <%= user.local.name %>!</h1>

</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">

            <p>
                <strong>Name</strong>: <%= user.local.name %><br>
                <strong>id</strong>: <%= user._id %><br>
                <strong>email</strong>: <%= user.local.email %><br>
                <strong>password</strong>: <%= user.local.password %>
            </p>

        </div>
    </div>
</div>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">More Info</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Your Profile Page</h4>
      </div>
      <div class="modal-body">
        This is your profile page. There isn't much to do here besides edit the information you entered when you first arrived. Click the blue button beside each item to edit the field.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
