<%#
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Update Event</title>


  </head>%>

  <body>

    <div class="container">
      <div>
          <a href='/users/<%= currentUser._id%>/events' class="btn btn-lg btn-primary">Back</a><hr>
    </div>
      <h2 class="form-signin-heading">Update event</h2>
      
      <div class="jumbotron updateEventForm">

      <form class="form" action="/events/<%= event._id %>?_method=patch" method="post">
        <div class="form-group">
          <label for="inputEvent" class="sr-only">Event Name</label>
          <input type="event" value= "<%=event.name%>" id="inputEvent" name="name" class="form-control" placeholder="Event Name" required autofocus>
        </div>
        <br>
        <div class="form-group">
          <label for="inputimg" class="sr-only">Image</label>
          <input type="inputimg" id="inputimg" name="img" class="form-control" placeholder="Event img">
        </div>
        <br>
        <div class="form-group">
          <label for="inputdescription" class="sr-only">Description</label>
          <input type="Description" value= "<%=event.description%>" id="inputDescription" name="description" class="form-control" placeholder="Description">
        </div>
        <br>
        <div class="form-group">
          <label for="inputCategory" class="sr-only">Category</label>
          <input type="Category" value= "<%=event.category%>" id="inputCategory" name="category" class="form-control" placeholder="Category">
        </div>
        <br>
        <div class="form-group">
          <label for="inputdate" class="sr-only">date</label>
          <input type="date" value= "<%=event.eDate%>" id="inputdate" name="eDate" class="form-control" placeholder="date">
        </div>
        <br>
        <div class="form-group">
          <label for="inputTime" class="sr-only">Time</label>
          <input type="Time" value= "<%=event.eTime%>" id="inputTime" name="eTime" class="form-control" placeholder="Time">
        </div>
        <br>
        <div class="form-group">
          <label for="inputaddress" class="sr-only">address</label>
          <input type="address" value= "<%=event.address%>" id="inputaddress" name="address" class="form-control" placeholder="address">
        </div>
        <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Update Event</button>
      </form>
</div>
    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript">
      $('body').css('background-image', 'url("/images/rainbow.png")')
    </script>
  </body>
</html>
